<h1>Profile Page</h1>
<%= link_to 'home' , home_path %>
 <p><%= @user.email %></p>

 
 <div id="profile-pic">
  <% if !@user.avatar.blank? %>
  <img  src="<%= @user.avatar %>">
  <% else %>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6nRFMtXvOs19iYARZIqpVnoZnGHaSW6tDjLAFT9TCbQolUQFe">
  <% end %>
</div>
 <% if @user.avatar.blank? && @user.id == current_user.id %>
 <%= form_for @user, url: user_avatar_upload_path(@user.id), html: { multipart: true }, method: :post do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit %>
<% end %> 
<% else %>
<% if @user.id == current_user.id %>
<%= link_to '<i class="fa fa-trash"></i>'.html_safe,
 delete_paperclip_image_path(@user.id), method: :delete %>
<% end %>
<% end %>
<% if @user.profile.blank? && @user.id == current_user.id%>
<%= form_for @profile, url: profiles_path(@user.id) do |f| %>
         <%= f.label :name %><br>
         <%= f.text_field :name %><br>
         <%= f.label :age %><br>
         <%= f.number_field :age %><br>
         <%= f.label :gender %><br>
         <%= f.radio_button :gender, 'Male' %> 
         <%= f.label :gender, 'Male', :value => 'Male' %><br>
         <%= f.radio_button :gender, 'Female' %>
         <%= f.label :gender, 'Female', :value => 'Female' %><br>
         <%= f.label :school %><br>
         <%= f.text_field :school %><br>
         <%= f.label :college %><br>
         <%= f.text_field :college %><br>
         <%= f.label :work %><br>
         <%= f.text_field :work %><br>
         <%= f.label :number %><br>
         <%= f.text_field :number %><br>
         <%= f.submit 'submit' , :class => 'btn'  %>
<% end %>
<% end %>
<% if !@user.profile.blank? %>
<ul>
  <li><%= @user.profile.name %> </li>
  <li><%= @user.profile.age %> </li>
  <li><%= @user.profile.gender %> </li>
  <li><%= @user.profile.school %> </li>
  <li><%= @user.profile.college %> </li>
  <li><%= @user.profile.work %> </li>
  <li><%= @user.profile.number %> </li>
  <% if @user.id == current_user.id %>
  <li><%= link_to 'edit' , profile_edit_path(@user.profile.id) %> </li>
  <% end %>
</ul>
<% end %>