<h1>Profile Page</h1>
<%= link_to 'home' , root_path %>
 <p><%= @user.email %></p>

 
 <img src="<%= @user.avatar %>">
 <% if @user.avatar.blank? %>
 <%= form_for @user, url: user_avatar_upload_path(@user.id), html: { multipart: true }, method: :post do |form| %>
  <%= form.file_field :avatar %>
  <%= form.submit %>
<% end %> 
<% else %>
<%= link_to 'delete image' , delete_paperclip_image_path(@user.id), method: :delete %>
<% end %>