<div id="sign_in_page">
 <div class="animated tada" id="sign_in_image"><img src="https://t4.ftcdn.net/jpg/01/38/37/55/500_F_138375527_IXV7YsrdcBWfG27M6afBmHsI9UhZkhQs.jpg"> </div>
<h2 id="log_in_text"> <span>connecti</span> helps you connect and share<br> with the people in your life.</h2>

<%= form_for(resource, as: resource_name, :html => {:id => "sign_in_form"}, url: session_path(resource_name)) do |f| %>
  <div class="field-1">
    <%= f.label :email, :class => 'common-label' %><br />
    <%= f.email_field :email, autofocus: true, :class => 'sign_in_fields' ,autocomplete: "email" %>
  </div>

  <div class="field-2">
    <%= f.label :password , :class => 'common-label' %><br />
    <%= f.password_field :password, :class => 'sign_in_fields' , autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) , :class => 'forgot_password' %><br />
<% end %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) , :class => 'confirmation_link' %><br />
 <% end -%> 


  <div class="actions">
    <%= f.submit "Log in" , :class => 'login_submit_button' %>
  </div>
<% end %>

 

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <div id="g-auth">  <%= link_to image_tag("https://i.stack.imgur.com/JkSed.png" , id: "google-auth"),omniauth_authorize_path(resource_name, provider) %> </div>
        
  <% end -%>
   <% end %>
   <div id="fb-login"> <img src="http://tricker.traxafe.in/images/btnFb.png"></div>
 </div>