<li id="post-<%= post.id %>" class="wow animated fadeInUp post_content">
               <div id="post-data">
                  <p class="user-email"> By- <%= post.user.email %></p>
                  <p class="user-content"><%= post.content%></p>
                  <div id="delete-likes">
                     <% if user_signed_in? %>
                     <div class="likes">
                        <p class="like-button"><%= link_to post.like_status_string(current_user.id), toggle_like_path(post.id), method: :post %> </p>
                        <p class="like-counter">	<%= post.likes.length %> people like this. </p>
                        <% else %>
                        <p><%= post.likes.length %> Likes </p>
                        <% end %>
                     </div>
                     <% if user_signed_in? && post.user_id ==  current_user.id %>
               <p class="post-delete"><%= link_to "Delete", destroy_post_path(post.id), method: :delete, remote: true %></p>
                     <% end %>
                  </div>
               </div>
               <%= render 'comments/post_comment', post: post %>
            </li>