<main id="posts-home">
   <div id="group">
      <div id="abc">
         <p> Group Links </p>
      </div>
   </div>
   <div class="deewar-posts">
      <div class="new-post-form">
         <% if user_signed_in? %>
         <%= form_for @post, remote: true do |f| %>
         <%= f.text_area :content , value:"write something here.." %><br>
         <%= f.submit nil , :class => 'btn'  %>
         <% end %>
         <% end %>
      </div>
      <div >
         <ul class="posts-list">
            <% @posts.reverse.each do |post| %>
               <%= render 'post', post: post %>
            <% end %>
         </ul>
      </div>
   </div>
   <div id="friends">
      <div id="friend">
         <p>Friends</p>
         <input id="user-search" type="text" placeholder="Search...">
      </div>

   </div>
   <script type="text/javascript">
   {
      var users = <%= "#{@all_users}".html_safe %>;

      var user_ids = <%= "#{@user_ids}".html_safe %>;

       $( "#user-search" ).autocomplete({
            source: users,
            select: function( event, ui ) {
                console.log(event);
                console.log(ui.item);
                $( "#user-search" ).val(ui.item.value);
                console.log(user_ids[users.indexOf(ui.item.value)]);
               // console.log(user_ids[]);
               
               window.location = '/users/profile/' + user_ids[users.indexOf(ui.item.value)];
            }
          });

   }
</script>
</main>